// Import 'responsive-font'
@import "vendors/viewport-text";

// IMPORT FONTS HERE

// Gothic A1
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,600,700');

// source sans pro and roboto mono
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Roboto+Mono');

// Merriweather
@import url('https://fonts.googleapis.com/css?family=Merriweather:300');

// FONT FAMILY VARIABLES (used for calling font)
@mixin font-family($family) {
  @if ($family == 'gothic-a1') {
    font-family: 'Gothic A1', sans-serif;
  }

  @else if ($family == 'source-sans-pro') {
    font-family: 'Source Sans Pro', sans-serif;
  }

  @else if ($family == 'merriweather') {
    font-family: 'Merriweather', serif;
  }

  @else {
    font-family: sans-serif;
  }
}

// Creates responsive font that scales with screen size (input max-size)
@mixin sizer($size) {
  $size-px: $size * 1px; // Convert to px
  $size-reduce-px: $size * 0.7 * 1px; // Convert to smaller px variant for scaling (can change decimal value for project need)
  $size-rem: $size / 10 * 1rem; // Convert to rem

  @include responsive-font(4vw, $size-reduce-px, $size-px, $size-rem);
}

// Mixin used for calling font
@mixin text($family, $size, $weight: null, $color: null) {
  @include font-family($family);
  color: $color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $weight;
  text-rendering: optimizeLegibility;

  @if ($size != null) {
    @include sizer($size);
  }
}
