---
layout: default
---
    <main class="wrapper">
      <header class="hero white">
        <div class="container">
          <h1 class="hero-title">{{ page.title }}</h1>
          <p class="hero-text">{{ page.tagline }}</p>
        </div>
      </header>
      <section class="block padded white-smoke">
        <div class="container">
          <div class="card-container">
            {% for post in site.posts %}
            <!-- Post Card -->
            <div class="card">
              <a href="{{ site.url }}{{ post.url }}" class="card-box">
                <div class="card-image-box violet">
                  {% if post.image.feature %}
                  <div class="card-image">
                    <img data-normal={% if post.image.feature contains 'http' %} "{{ post.image.feature }}" {% else %} "{{ site.url }}/assets/img/{{ post.image.feature }}"{% endif %} alt="{{ post.title }} feature image" class="inner-block-image absolute contain">
                  </div>
                  {% endif %}
                </div>
                <div class="card-content">
                  <p class="card-title">{{ post.title }}</p>
                  {% if post.description %}<p class="card-tagline">{{ post.description | strip_html | strip_newlines | truncate: 120 }}</p> {% elsif post.tagline %} <p class="card-tagline">{{ post.tagline | strip_html | strip_newlines | truncate: 120 }}</p> {% else %} <p class="card-tagline">{{ post.content | strip_html | strip_newlines | truncate: 120 }}</p>{% endif %}
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
